@import '@/style/variable.scss';
@import "@/style/iconfont/iconfont.scss";
body,
div,
section,
span,
input,
h1,
h2,
h3,
h4,
h5,
footer,
header,
select,
option,
button,
ul,
li,
dl {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
li,
dl,
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: $base-color;
}

.txt-c {
  text-align: center;
}
.txt-r {
  text-align: right;
}
.mar-12 {
  margin: 12px;
}
.mar-20 {
  margin: 20px;
}
.next-color {
  color: $next-color;
}
// 设置字体大小部分
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
div [type='flex'] {
  display: flex;
}
[justify-content='space-between'] {
  justify-content: space-between;
}
