@import "@/style/variable.scss";
body,
div,
section,
span,
input,
h1,
h2,
h3,
h4,
h5,
footer,
header,
select,
option,
button,
ul,
li,
dl {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
li,
dl,
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: $base-color;
}
